<head>
    <title>Formulário de contato</title>
    <link rel="stylesheet" href="../CSS/Exercicio4.css">
</head>

<body>

    
    <div>
        <h1>Preencha o formulário para contato</h1>
        <label for="input1">Nome:</label>
        <input class="input1" type="text" placeholder="Digite seu nome">
        <p>E-mail:</p>
        <input class="input1" type="email" placeholder="Digite seu e-mail">
        <p>Mensagem:</p>
        <textarea name="" id="" cols="30" rows="10" placeholder="Digite a mensagem"></textarea>
        <br>
        <br>
        <input class="input2" type="submit" value="Enviar">

    </div>
    

</body>